*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: darkslategrey;
    width: 100%;
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

.header-left {
    margin-left: 50px;
    width: 30rem;
    display: flex;

}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: lightgray;
    width: 70%;
    padding-left: 15px;
    margin: auto 6px;
    height: 40px;

}
input {
    background-color: lightgray;
    border: none;
    border-color: none;
    padding-left: 10px;
    height: 32px;
    width: 100%;
    
}
input:focus {
    outline: none;
}

i[class="fa-brands fa-linkedin"] {
    /* width: 50px; */
    font-size: 48px;
    color:white;
}

i[class="fa-solid fa-magnifying-glass"] {
    font-size: medium;
}
.fa-solid {
    color: grey;
}
span {
    color: grey;
}
p {
    color: grey;
}
i {
    font-size: 28px; 
}

.header-center > ul {
    display: flex;   
    justify-content: space-between;
    width: 35rem;
    align-items: center; 
}

li {
    list-style: none;
    /* display: flex; */
}

img {
    height: 30px;
}

.header-center > ul > li> a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.header-center > * {
    padding-left: 20px;
}

.vertical {
    border: 1px solid black;
    height: 60px;
    margin-left: 20px;
}

.header-right > ul {
    display: flex;
    align-items: center;    
    margin-left: 25px;


}

.header-right > ul > li {
    margin-left: 10px;
    padding-left: 10px;
}

.header-right > ul > li> a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}


main {
    height: calc(100vh - 60px);
    display: flex;

}

.content-left {
    border-radius: 5px;
    height: 520px;
    width: 300px;
    background-color: darkslategrey;
    margin-top: 20px;
    margin-left: 40px;
}
.top {
    height: 50%;

}
.top-first-part {
    height: 35%;
    background-color: grey;
}
.top-first-part>img {
    height: 60px;
    position: relative;
    left: 120px;
    top: 60px;
}
.top-second-part{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    
}
p {
    font-size: large;
}
.top-second-part > h3 {
    padding-top: 60px;
}
.top-second-part>p {
    margin-left: 50px;
}
.bottom {
    height: 60%;
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    
}

.bottom > .bottom-profile-details {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    /* margin-top: 10px;
    margin-left: 10px; */
}
.bottom span {
    padding-right: 20px;
}

.bottom-connections-details {
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: flex;   */
    /* justify-content: space-between;  */
    /* margin-bottom: 10px; */
    /* align-items: center;   */
}


 .bottom-connections-details > * {
     margin-left: 20px; 
}

.manage {
    color: antiquewhite;
}

.connections {
    display: flex;
    justify-content: space-between;
  
}
.premium {
    /* font-size: medium; */
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.premium > * {
    margin-left: 10px;
    padding-top: 5px;
}

.bookmark {
    margin-top: 15px;
    margin-left: 15px;
    
}
.bookmark > * {
    padding-left: 10px;
}

.bookmark > i  {
    font-size:  large;

}

.content-center {
    background-color: aquamarine;
    margin-top: 20px;
    margin-left: 50px;
    width: 600px;
    height: 120px;
}

.center-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.center-top > input {
    border-radius: 20px;
    margin-left: 20px;
    height: 40px;
    width: 80%;

}
.center-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.center-bottom > * {
    padding-left: 10px;
}

.center-bottom-media > *{
    padding-left: 10px;
}
.center-bottom-event > * {
    padding-left: 10px;
}
.center-bottom-article > * {
    padding-left: 10px;
}